{% extends "base.html.twig" %}

{% block title %}MyCave - Liste de nos vins
{% endblock %}

{% block body %}
	<h1>Liste des vins !</h1>

	<div class="block d-flex flex-row justify-content-around flex-wrap align-content-start">
		{% for product in products %}
			<div class="card winecard mb-3 mx-2">
				<a href="{{path('show_one', {'id': product.id })}}">

					<h3 class="card-header cardTitle">{{product.name}}</h3>
				</a>

				<div class="card-body">
					<h5 class="card-title cardCountry">{{product.country}}</h5>
					<h6 class="card-subtitle text-muted cardRegion">{{product.region}}</h6>
				</div>
				<img class="cardPicture" src="{{asset('assets/img/uploads/')}}{{product.picture}}" alt="Photo de {{product.name}}"/>

				<div class="card-body">
					<p class="card-text cardDescription">{{product.description}}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Millésime :
						<span class="text-info cardMillesime">{{product.millesime}}</span>
					</li>
					<li class="list-group-item">Cépages :
						<span class="text-muted cardCepages">{{product.cepages}}</span>
					</li>
				</ul>

				{% if app.user %}
					<div class="card-body">
						<a id="btnEditWine" data-toggle="modal" data-target="#modalEditWine" data-id="{{product.id}}" class="card-link btn btn-outline-warning">
							Editer
						</a>
						<a href="{{path('wine_delete', {'id': product.id})}}" class="card-link btn btn-outline-danger">
							Supprimer
						</a>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
